wordpress/wp-content/uploads
wordpress/wp-content/w3tc
wordpress/wp-content/avatars
wordpress/wp-content/cache
wordpress/wp-content/updraft
wordpress/local-config.php
.buildpath
.project
.settings
*sublime*
*.sass-cache*
*compass_app_log.txt*
/wordpress/wp-content/themes/freeminds/compass_app_log.txt
*debug.log*
docs
backups
db
backups
*~
.DS_Store

