#header {
  padding-bottom: 0;
  position: relative;

  .wrap {
    margin-top: 50px;
  }
  #title-area {
    width: 50%;

    @include media($tablet) {
      width: 100%;
    }
  }
  #description {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 40%;
  }
}

