.genesis-nav-menu li li a, 
.genesis-nav-menu li li a:link, 
.genesis-nav-menu li li a:visited {
  width: 20em;
}
#subnav {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0; 

  .genesis-nav-menu a {
    padding: 0.5em;
  }
  .fontawesome-text {
    @extend %visuallyhidden;
  }
}

