.genesis-nav-menu > li {
  @include media($mobile) {
    float: left;
    width: 50%;
    text-align: center;
  }
  
}

.genesis-nav-menu li li a, 
.genesis-nav-menu li li a:link, 
.genesis-nav-menu li li a:visited {
  @include media($mobile) {
    width: 10em;
  }
  @include media($tablet) {
    width: 20em;
  }

  
}
#subnav {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0; 

  .genesis-nav-menu a {
    padding: 0.5em;
  }
  .fontawesome-text {
    @extend %visuallyhidden;
  }
}

