.home-feature-wrap {
  border: 1px solid green;
}

.poetry-teaser {
  border: 1px solid blue;
}

.news-teaser {
  border: 1px solid red;
}

.home-feature-quote {
  border: 1px solid yellow;
  clear: both;
}