.home-feature-wrap {

}
.home #inner {
  @include media($tablet) {
    padding-top: 0;
  }
  
}
#featured-post-4 div > a {
  img {
    border: 10px solid $widget_bg;
    @include single-box-shadow();
  }
  @include media($tablet) {
    width: $two_column;

    img {
      width: 100%;
    }
  }
}
#featured-post-teaser {
  @include clearfix();

  @include media($mobile) {
    clear: right;
  }

  @include media($tablet) {
    width: $one_column;
    float: left;
  }
  
  .featured-post-inner {
    padding: 1.5em;
    margin-left: 5px;
    margin-bottom: 1.5em;
    margin-right: 3px;
  }
  
}
.poetry-teaser {
  border: 1px solid blue;
}

.news-teaser {
  border: 1px solid red;
}

.home-feature-quote {
  border: 1px solid yellow;
  clear: both;
}