/**********************
  Footer
***********************/

#footer {
  color: #FFF;

  a {
    color: #FFF;
  }

  .wrap {
    border: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #FFF;
  }

  p {
    font-size: 0.8em;
    font-weight: normal;
  }

}
