/**********************
  Widgets
***********************/
#sidebar {
  background: transparent image-url('widget_top_bg.png') no-repeat center -3px;

  .widget {
    border: none;
    padding: 1em;
  }
  // Setting the border on the widgets so they don't overflow the bottom background image.
  .widgets-archive-tags .widget {
    border-left: 2px solid rgba(205,205,205, 0.5);
    border-right: 2px solid rgba(205,205,205, 0.5);
  }

  .widget_archive {
    margin-bottom: 0;
    padding-bottom: 2em;
  }
}

.widget_tag_cloud .fa-tag {
  display: inline;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  color: $h3_color;
  font-size: 1.5em;
}
.widgets-archive-tags {
  @extend %widget_gradient_bg;
  border-left: none;
  border-right: none;
  margin-left: 10px;
  margin-right: 10px;
} 

.widgets-archive-tags-inner {
  background: image-url('widget_bottom_bg.png') no-repeat center 100%;
  padding-bottom: 30px;

}