// HTML
//   Font-face
//   Typography
//   Element Styles


body {
  background: $body_bg;
}

#wrap {
  background: $wrap_bg;
  padding: 0;

  @include media($tablet) {
    border: 10px solid $body_border;
    background: $wrap_bg image-url('wrap_bg.jpg');
  }
}

/* 03a - Font Color ----------- */
body {
  color: $body_text;
}
a {
  color: $links;
  text-decoration: none;
}
a:hover {
  color: $link_hover;
}
h2,
.home h2 a,
h2 a:visited,
h4.widgettitle a,
input,
.author,
.genesis-nav-menu a,
.genesis-nav-menu li li a,
.genesis-nav-menu li li a:link,
.genesis-nav-menu li li a:visited,
.post-comments,
#title a,
#title a:visited,
#title a:hover {
  color: $link_title;
}

h2 a:hover,
.genesis-nav-menu li a:hover,
.genesis-nav-menu li:hover a,
.genesis-nav-menu li li a:hover,
.genesis-nav-menu .current-menu-item a {
  color: $link_hover;
}

.post-info,
.post-meta {
  color: $body_text;
}

blockquote::before,
blockquote p,
input,
select,
textarea {
  color: $body_text;
}

button,
input[type="button"],
input[type="submit"],
.btn,
.genesis-nav-menu .highlight-menu-item a,
.genesis-nav-menu .highlight-menu-item a:hover,
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: $links;
}

button,
input[type="button"],
input[type="submit"] {
  color: #FFF;
  background: $h3_color;
}

.comment-meta a,
.comment-author a,
.comment-reply-link {
  color: $h3_color
}

.comment {
  background-color: #FFF;
  border: 1px solid #ddd;
  @include box-shadow(0 0 5px #ddd inset);
}

/* 03c - Font Size & Header colors----------- */

#title {
  font-size: 30px;
  font-size: 1.25rem;
}

h1,
h1 a,
.h1 a,
.entry-title,
.entry-title a {
  font-size: 30px;
  font-size: 1.875rem;
  color: $h1_color;
}

h2,
h2 a {
  font-size: 24px;
  font-size: 1.5rem;
  color: $h2_color;
}

h3,
h3 a {
  font-size: 22px;
  font-size: 1.375rem;
  color: $h3_color;
}

h4,
h4 a,
.archive-title,
.taxonomy-description h1,
.widgettitle {
  font-size: 20px;
  font-size: 1.25rem;
  color: $h1_color;
}

h5,
h5 a {
  font-size: 18px;
  font-size: 1.125rem;
  color: $h2_color;
}

h6,
h6 a,
.author-box h1,
.sidebar h2 a {
  font-size: 16px;
  font-size: 1rem;
  color: $h3_color;
}

input,
select,
textarea,
.genesis-nav-menu,
.post-info,
.post-meta,
.wp-caption,
#footer p {
  font-size: 14px;
  font-size: 0.875rem;
}

/* 03b - Font Family ----------- */

body,
input,
textarea,
.author-box h1 {
  font-family: $font_family;
}

h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,
#title {
  font-family: $font_headers;
  line-height: 1.5;
}

/* 03d - Font Miscellaneous ----------- */

blockquote::before {
  font-size: 30px;
  font-size: 1.5rem;
}

blockquote p {
  font-style: italic;
}

cite {
  font-style: normal;
}

button,
input[type="button"],
input[type="submit"],
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.entry-title a,
.genesis-nav-menu,
.post-comments,
.post-info .author,
.post-info .date,
.wp-caption,
#footer p,
#title {
  font-weight: 700;
}

.wp-caption {
  text-align: center;
}

h2 a,
h2 a:visited,
.genesis-nav-menu a,
.navigation li a,
.widgettitle a,
#title a {
  text-decoration: none;
}

#comments h3,
.comment-reply-title {
  color: $h2_color;
}

.more-link {
  font-weight: bold;
  position: relative;
  padding-right: 30px;
  //display: block;
  
  &:after {
    @extend %more_link_arrow;
  }
}

/**********************
  Footer
***********************/
#footer {
  background: $nav_bg;
  color: #FFF;

  a {
    color: #FFF;
  }

  .wrap {
    border: none;
  }

}
