// Region Styles
// User Styles

// Breadcrumbs
.breadcrumb {
  margin-bottom: 1em;
  padding: 1em 1em 1em 0;
  background-color: transparent;
}
// Page quotes
.page-quote {
  font-size: 1.5em;
  text-align: center;
}

.quote-attr {
  float: right;
}