// Mixins @include mixinname( $args );

@mixin email_arrow_after( $color, $color_rgba ) {
  content: " ";
  position: absolute;
  left: 90%;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: $color_rgba;
  border-left-color: $color;
  border-width: 6px;
  margin-top: -6px;
}

@mixin widget_top_bottom_bg( $widget_bottom_img ) {
  background: 
    image-url('widget_top_bg.png') no-repeat center -3px,
    image-url($widget_bottom_img) no-repeat center 100%;
  background-size: 100%;
  padding-bottom: 30px;
}
